<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>

<%= form_with model: model, method: method, url: url, class: "merchant_bulk_discount_form", local: true do |f| %>
  <%= f.label :discount_percentage %>
  <%= f.number_field :discount_percentage, step: '0.01' %><br/><br/>
  <%= f.label :minimum_quantity %>
  <%= f.number_field :minimum_quantity %><br/><br/>
  <%= f.submit 'Submit'%>
<% end %>